{%- set __dir__ = '{{__dir__}}' -%}
{%- set __project__ = '{{__project__}}' -%}
{%- set __assets__ = '{{__assets__}}' -%}
{%- set __plugins__ = '{{__plugins__}}' -%}
params:
  project: '{{__dir__}}/project'
  
links:
  - target: '{{__assets__}}'    
    source: '{{__dir__}}/assets'
    content: ['*']

  - target: '{{__plugins__}}'
    source: '{{__dir__}}/plugins'
    content: ['*']

  - target: '{{__project__}}/ProjectSettings'
    source: '{{__dir__}}/settings'
    
  - target: '{{__project__}}/Packages'
    source: '{{__dir__}}/packages'
